<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/socialPractice</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">tobeno.1</property>

        <!-- Need to set as the newest version of MySQL-->
        <property name="dialect">org.hibernate.dialect.MySQL57Dialect</property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>
        <!-- For Development -->
        <property name="hibernate.hbm2ddl.auto">create-drop</property>

        <mapping class="DB_model.Student.Student"/>
        <mapping class="DB_model.Student.Leader"/>
        <mapping class="DB_model.Student.Member"/>
        <mapping class="DB_model.Student.SpecialStudent"/>
        <mapping class="DB_model.Teacher.Expert"/>
        <mapping class="DB_model.Teacher.Instructor"/>
        <mapping class="DB_model.Teacher.Expert"/>


        <!-- DB schema will be updated if needed -->

    </session-factory>
</hibernate-configuration>